@import url('/src/css/textStylePicker.css');
@import url('/src/css/colorPicker.css');

* {
    font-family: var(--primary-font)
}
.display1 {
    font-size: var(--txt-display1-size);
    font-weight: var(--txt-display-weight);
}

.display2 {
    font-size: var(--txt-display2-size);
    font-weight: var(--txt-display-weight);
}

.display3 {
    font-size: var(--txt-display3-size);
    font-weight: var(--txt-display-weight);
}

.display4 {
    font-size: var(--txt-display4-size);
    font-weight: var(--txt-display-weight);
}

.headline1 {
    font-size: var(--txt-headline1-size);
    font-weight: var(--txt-headline-weight);
}

.headline2 {
    font-size: var(--txt-headline2-size);
    font-weight: var(--txt-headline-weight);
}

.headline3 {
    font-size: var(--txt-headline3-size);
    font-weight: var(--txt-headline-weight);
}

.headline4 {
    font-size: var(--txt-headline4-size);
    font-weight: var(--txt-headline-weight);
}

.title1 {
    font-size: var(--txt-title1-size);
    font-weight: var(--txt-title-weight);
}

.title2 {
    font-size: var(--txt-title2-size);
    font-weight: var(--txt-title-weight);
}

.title3 {
    font-size: var(--txt-title3-size);
    font-weight: var(--txt-title-weight);
}

.title4 {
    font-size: var(--txt-title4-size);
    font-weight: var(--txt-title-weight);
}

.label1 {
    font-size: var(--txt-label1-size);
    font-weight: var(--txt-label-weight);
}

.label2 {
    font-size: var(--txt-label2-size);
    font-weight: var(--txt-label-weight);
}

.label3 {
    font-size: var(--txt-label3-size);
    font-weight: var(--txt-label-weight);
}

.label4 {
    font-size: var(--txt-label4-size);
    font-weight: var(--txt-label-weight);
}

.body1 {
    font-size: var(--txt-body1-size);
    font-weight: var(--txt-body-weight);
}

.body2 {
    font-size: var(--txt-body2-size);
    font-weight: var(--txt-body-weight);
}

.body3 {
    font-size: var(--txt-body3-size);
    font-weight: var(--txt-body-weight);
}

.body4 {
    font-size: var(--txt-body4-size);
    font-weight: var(--txt-body-weight);
}

.borderYB45{
    border-radius: 20px;
    position: relative;
    background: var(--Light-4);
    box-shadow: 4px -2px 10px 0px rgba(92, 184, 255, 0.50), 0px 4px 10px 0px rgba(255, 215, 97, 0.50);
    z-index: 1;
}

.borderYB45::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(45deg, #FFD761, #5CB8FF);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

.borderWB180{
    border-radius: 20px;
    position: relative;
    background: var(--Light-4);
    box-shadow: 4px -2px 10px 0px rgba(92, 184, 255, 0.50);
    z-index: 1;
}

.borderWB180::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(180deg, #ffffff, #47a6ee);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

/* sm */
@media (min-width: 640px) { }
/* md */
@media (min-width: 765px) { }
/* lg */
@media (min-width: 1024px) { }
/* xl */
@media (min-width: 1280px) { }
/* 2xl */
@media (min-width: 1536px) { }
